<h1>Каталог товаров</h1>

<div class="well">
  <%= form_tag root_path, method: :get do %>
    <label><%= check_box_tag :is_popular, '1', params[:is_popular].present? %> Только популярные</label>
    <label><%= check_box_tag :on_order, '1', params[:on_order].present? %> Только в наличии</label>
    <div>
      Цена:
      от <%= text_field_tag :price_min, params[:price_min] %>
      до <%= text_field_tag :price_max, params[:price_max] %></div>
    <%= submit_tag 'Отфильтровать' %>
  <% end %>
</div>

<table class="table">
<% @items.each do |item| %>
  <tr class="<%= 'disabled' if !item.enable %>">
    <td><%= '*' if item.is_popular %></td>
    <td><%= item.name %></td>
    <td><%= item.category.name %></td>
    <td><%= item.price %> РУБ.</td>
    <td><%= 'на заказ' if item.on_order %></td>
  </tr>
<% end %>
</table>
